@use "dropdown";
@use "colorpicker";
@use "shortcuts" as sc;
@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Dancing+Script&display=swap);

$darker: #0C0C0C;
$dark: #151515;
$dim: #333;
$normal: #999;
$light: #FFF;

html {
	--darker-c1: #{$darker};
	--dark-c1: #{$dark};
	--dim-c1: #{$dim};
	--normal-c1: #{$normal};
	--light-c1: #{$light};
}
* {
	@include sc.scrollbar($dim, $darker);
	@include sc.scrollbar(var(--dim-c1), var(--darker-c1));
	font: 16px "Titillium Web";
	color: #FFF;
	margin: 0;
	::selection {
		background-color: rgba(255,255,255,0.2);
	}
}
body {
	@include sc.flex($dir: column);
	@include sc.var(background-color, --dark-c1, $dark);
	overflow: hidden;
	height: 100vh;
}
input {
	@include sc.hideInputSpinners;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
}
nav {
	display: flex;
	@include sc.var(background-color, --darker-c1, $darker);
	outline: 1px solid var(--dim-c1);
	z-index: 1;
	user-select: none;
	> div {
		display: flex;
		align-items: center;
		padding: 0 8px;
	}
	svg {
		@include sc.svg($width: 32px);
		@include sc.var(fill, --normal-c1, $normal)
	}
	&::before {
		content: "";
		margin-right: auto;
		width: 32px;
		padding: 0 8px;
	}
}
#main {
	display: flex;
	flex: 1;
	overflow: hidden auto;
}
footer {
	@include sc.flex($justify: center);
	@include sc.var(background-color, --darker-c1, $darker);
	svg {
		@include sc.svg($width: 28px);
		@include sc.var(fill, --normal-c1, $normal);
		padding: 4px 8px;
		&:hover {
			@include sc.var(fill, --light-c1, $light);
		}
	}
}

#nav-hide {
	display: none;
}
#nav-hide + label {
	position: absolute;
	z-index: 2;
	margin: 2px 8px;
	@include sc.svg($fill: none, $width: 32px, $size: 3px, $join: round);
	@include sc.var(stroke, --normal-c1, $normal);
	cursor: pointer;
}
#nav-hide + label:hover {
	@include sc.var(stroke, --light-c1, $light);
}
#nav-hide:checked ~ nav {
	display: none;
}
#nav-hide:checked + label {
	transform: rotateX(180deg);
	opacity: .4;
}
#nav-hide:checked + label:hover {
	opacity: 1;
}
#nav-home a, #nav-user button, footer a, [for=nav-hide] {
	font-size: 0;
}
#nav-home {
	border-bottom: 1px solid var(--light-c1);
	cursor: pointer;
}
#nav-home svg, #nav-home span {
	@include sc.var(fill, --light-c1, $light);
	@include sc.var(color, --light-c1, $light);
	font: 24px "Dancing Script";
	font-weight: bold;
}
#nav-user {
	margin-left: auto;
}
.dropdown {
	ul {
		padding: 8px 0;
		@include sc.var(background-color, --darker-c1, $darker);
		border: 1px solid var(--dim-c1);
		width: 25%;
		min-width: 200px;
		max-width: 400px;
		> label:first-child li {
			@include sc.var(background-color, --normal-c1, $normal);
		}
	}
	label {
		li {
			padding: 4px 16px;
		}
		&:hover li {
			@include sc.var(background-color, --dim-c1, $dim);
		}
	}
	&.focused, &.inner-focused, &:hover {
		svg, &::after {
			@include sc.var(fill, --light-c1, $light);
			@include sc.var(color, --light-c1, $light);
		}
	}
	.separator {
		@include sc.var(background-color, --normal-c1, $normal);
	}
}
#nav-user .dropdown ul {
	right: 4px;
}
#nav-user-color-inner {
	padding: 0;
	width: 100%;
}

@media(max-width: 800px) and (max-height: 350px) {
	#nav-user-color-inner {
		top: 0;
	}
	#nav-user .dropdown ul {
		right: 0;
	}
}