@use "../../base/scss/base";
@use "shortcuts" as sc;
@use "datepicker";
@use "clipboard";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu+Mono&display=swap);

main {
	flex-direction: column;
}
#customapis-nav {
	@include sc.var(background-color, --darker-c1, base.$darker);
	text-align: center;
	div {
		display: flex;
		label {
			flex: 1;
		}
		input {
			display: none;
			&:checked + p {
				@include sc.var(background-color, --dim-c1, base.$dim);
				&::after {
					content: "\2714";
					position: absolute;
					right: 4px;
				}
			}
		}
		p {
			background-color: rgba(150,150,150,.5);
			outline: 1px solid;
			@include sc.var(outline-color, --normal-c1, base.$normal);
			position: relative;
			&:hover {
				background-color: rgba(50,50,50,.5);
			}
		}
	}
	.bots {
		width: 100%;
		@include sc.var(background-color, --dark-c1, base.$dark);
		outline: 1px solid;
		@include sc.var(outline-color, --light-c1, base.$light);
		text-align: center;
		&:hover {
			@include sc.var(background-color, --dim-c1, base.$dim);
		}
		.scroll {
			flex-direction: column;
		}
		span::after {
			content: "\23F7";
			position: relative;
			left: 32px;
		}
		ul {
			@include sc.centerX;
			text-align: left;
		}
	}
}
#customapis-body {
	overflow: auto;
	flex: 1;
	scroll-snap-type: y proximity;
	.api, #guide {
		scroll-snap-align: start;
		padding: 16px;
		border-bottom: 4px dashed;
		@include sc.var(border-color, --light-c1, base.$light);
		.login-msg {
			text-decoration: dotted underline;
			@include sc.var(text-decoration-color, --dark-c1, base.$dark);
			@include sc.var(color, --dark-c1, base.$dark);
			@include sc.var(background-color, --light-c1, base.$light);
			font-weight: bold;
			display: block;
			box-sizing: border-box;
			width: 100%;
			text-align: center;
		}
		> p {
			text-align: center;
		}
		.usage {
			background-color: rgba(25,25,25,.25);
			margin-top: 16px;
			border: 1px solid;
			@include sc.var(border-color, --light-c1, base.$light);
			border-radius: 4px;
			overflow: hidden;
			> div {
				padding: 8px;
			}
			> p:first-child {
				@include sc.var(background-color, --darker-c1, base.$darker);
				text-align: center;
				outline: 1px solid;
				@include sc.var(outline-color, --light-c1, base.$light);
			}
		}
	}
}

#params {
	.scroll {
		max-height: 25vh;
	}
}
.param {
	@include sc.flex($dir: column);
	p a {
		@include sc.var(color, --light-c1, base.$light);
		font-weight: bold;
		text-decoration: none;
	}
	.input {
		background-color: rgba(0,0,0,.5);
		display: flex;
		outline: 1px solid;
		@include sc.var(outline-color, --light-c1, base.$light);
	}
	span {
		flex: 1;
	}
	span, .toggle {
		padding: 7px;
	}
	&:hover {
		@include sc.var(background-color, --dim-c1, base.$dim);
		.toggle div {
			@include sc.var(background-color, --dark-c1, base.$dark);
		}
	}
	.toggle {
		@include sc.toggle;
		div {
			@include sc.var(border-color, --light-c1, base.$light);
			transform: translateY(-50%);
			position: relative;
			top: 50%;
		}
		input:checked {
			+ div {
				@include sc.var(background-color, --light-c1, base.$normal);
			}
		}
	}
	.dropdown {
		position: relative;
		ul {
			word-break: normal;
		}
		> span::after {
			content: "\23F7";
			float: right;	
		}
	}
}
#guide {
	background-color: rgba(0,0,0,.55);
	margin: 16px;
	border: 1px solid;
	@include sc.var(border-color, --light-c1, base.$light);
	border-radius: 4px;
	p {
		text-align: left !important;
		border-bottom: 1px solid;
		@include sc.var(border-color, --normal-c1, base.$normal);
		&.str {
			display: block;
			background-color: rgba(0,0,0,.3);
		}
	}
}

.clipboard {
	@include sc.var(background-color, --darker-c1, base.$darker);
	.input, .input * {
		font-family: "Ubuntu Mono";
	}
	svg {
		@include sc.svg($width: 30px, $size: 2, $fill: none);
		@include sc.var(stroke, --light-c1, base.$light);
	}
}
.date-picker {
	@include sc.var(background-color, --darker-c1, base.$darker);
	span {
		padding: 0;
	}
}

.normal {
	color: #FFF;
}
.bot-var {
	color: cyan;
}
.str {
	color: coral;
}
.fn {
	color: deeppink;
}
.var {
	color: chartreuse;
}
.op {
	color: #F33;
}
.digit {
	color: gold;
}

@media(max-width: 800px) {
	table#customapis {
		thead, tbody {
			width: 300%;
		}
	}
	@media(max-height: 350px) {
		.param .dropdown ul {
			right: 0;
		}
	}
}