@use "../../base/scss/base";
@use "shortcuts" as sc;

main {
	background: url("../assets/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	p {
		display: flex;
		white-space: nowrap;
		width: 50%;
		align-items: center;
		&::before, &::after {
			content: "";
			display: block;
			top: 0px;
			flex: 1;
			height: 2px;
			background-color: rgba(255,255,255,.5);
		}
		&::before {
			margin-right: 12px;
		}
		&::after {
			margin-left: 12px;
		}
	}
}

.layer {
	overflow: auto;
	background: radial-gradient(#20282D, #09070C);
	display: flex;
	flex-direction: column;
	justify-content: safe center;
	align-items: safe center;
	width: 100vw;
	opacity: 0.9;
}

.msg {
	padding: 4px;
	text-align: center;
	max-width: 75%;
	border-radius: 8px;
	border: 1px solid;
}
.error {
	border-color: rgba(lightpink, .8);
	background-color: rgba(crimson, .8);
}

.content {
	display: flex;
	padding-top: 8px;
	width: 50%;
	width: calc(50% + 16px);
	flex-wrap: wrap;
	a {
		margin: 0 8px 8px 8px;
		display: inline-flex;
		border-radius: 20px;
		padding: 12px 32px;
		cursor: pointer;
		flex: 1;
		text-decoration: none;
		justify-content: center;
		&:hover {
			opacity: 0.85;
		}
		span {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: bolder;
			margin-left: 8px;
		}
	}
	.mixer {
		background: linear-gradient(4deg, #1F5A9D, #1FBAED);
	}
	.twitch {
		background: linear-gradient(4deg, #5D1E8B, #8D3EBB);
	}
}