@use "../../base/scss/base";

#main {
	background: url("../assets/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	p {
		display: flex;
		white-space: nowrap;
		width: 50%;
		align-items: center;
		&::before, &::after {
			content: "";
			display: block;
			top: 0px;
			flex: 1;
			height: 2px;
			background-color: rgba(255,255,255,.5);
		}
		&::before {
			margin-right: 12px;
		}
		&::after {
			margin-left: 12px;
		}
	}
}

.layer {
	background: radial-gradient(#20282D, #09070C);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	opacity: 0.9;
}

.content {
	display: flex;
	padding-top: 16px;
	width: 50%;
	flex-wrap: wrap;
	a {
		display: inline-flex;
		border-radius: 20px;
		padding: 12px 32px;
		cursor: pointer;
		flex: 1;
		text-decoration: none;
		justify-content: center;
		&:hover {
			opacity: 0.85;
		}
		span {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: bolder;
			margin-left: 8px;
		}
	}
	.mixer {
		background: linear-gradient(4deg, #333, #1FBAED);
	}
}